.form-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .form-input:focus {
    outline: none;
    border-color: #3c6e47;
    box-shadow: 0 0 5px rgba(60, 110, 71, 0.5);
  }
  